  <div *ngIf = !isSelected>
    <h2>My POST </h2>
    <div *ngIf="isLoading">Getting Data....</div>
    <ul class="posts" >
        <li  *ngFor = "#post of posts " (click) = OnSelect(post)
        [class.selected]="post === selectPOST">
        <span class="badge">{{post.id}}</span><b>{{post.title}}</b>
        <hr>
        <span class="postBody">{{post.body}}</span>
        </li>     
    </ul>
    
    </div>
    <div *ngIf="isSelected">
      <my-post-list [selectedUserId] = selectPOST> </my-post-list>
    </div>


      